﻿@model WebApplication1.Models.CurrencyConversionModel

@{
    ViewBag.Title = "Index";
}

<form method="post" action="\Home\Index">

    <dl>
        <dt>
            From:
        </dt>
        <dd>
            <select name="from">
                @foreach (string c in Model.CurrencyList)
                {
                    <option value="@c">@c</option>
                }
            </select>
        </dd>
        <dt>
            To:
        </dt>
        <dd>
            <select name="to">
                @foreach (string c in Model.CurrencyList)
                {
                    <option value="@c">@c</option>
                }
            </select>
        </dd>
        <dt>
            Input value:
        </dt>
        <dd>
            <input type="number" name="v" />
        </dd>
    </dl>
    <input type="submit" value="Submit" />
</form>

@if (ViewBag.Result != null)
{
<label>@ViewBag.Result</label>
}